$blue: #74b9ff;

body {
    background-color: #3498db;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#block_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 2px auto;
    background: #fff;
    padding: 0px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}


.padding-0{
    padding-right:0;
    padding-left:0;
}

.settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;

    .no-gutters {
        padding: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &--right {
        float: right;

        i {
            margin-top: 10px;
            font-size: 25px;
            color: grey;
            margin-left: 14px;
            transition: .3s;

            &:hover {
                color: $blue;
                cursor: pointer;
            }
        }
    }
}

.search-box {
    padding: 10px 13px;
    width: 50%;
    border-radius: 10px;
    .input-wrapper {
        background: #fff;
        border-radius: 40px;
        i {
            color: grey;
            margin-left: 7px;
            vertical-align: middle;
        }
    }
}

input {
    border: none;
    border-radius: 30px;
    width: 80%;
    &::placeholder {
        color: #e3e3e3;
        font-weight: 300;
        margin-left: 20px;
    }

    &:focus {
        outline: none;
    }
}

.friend-drawer {
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;

    &--grey {
        background: #eee;
    }

    .text-chat {
        margin-left: 12px;
        width: 70%;

        h6 {
            margin-top: 6px;
            margin-bottom: 0;
            color: black
        }

        p {
            color: grey;
            margin: 0;
        }
    }

    .time {
        color: grey;
    }


    &--onhover:hover {
        background: lightskyblue;
        cursor: pointer;

        p,
        h6,
        .time {
            color: #fff !important;
        }
    }
}

.border-right {
    border-right: 1px solid #ddd;
}

hr {
    margin: 5px auto;
    width: 60%;
}


.friend-drawer-selected {
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;
    background-color: lightskyblue;
    &--grey {
        background: #eee;
    }

    .text-chat {
        margin-left: 12px;
        width: 70%;

        h6 {
            margin-top: 6px;
            margin-bottom: 0;
            color: black
        }

        p {
            color: grey;
            margin: 0;
        }
    }

    .time {
        color: grey;
    }
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 0;
        margin-top: -10px;
    }

    &--left {
        width: fit-content;
        max-width: 400px;
        border-right-color: #eee;
        border-left: 0;
           
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.offset-md-4 {
    .chat-bubble {
        width: fit-content;
        max-width: 400px;
        margin-left: auto;
        background: $blue;
        color: #fff;
    }
}

.chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    bottom: 0;
    input {
        margin: 0 10px;
        padding: 6px 2px;
    }

    i {
        color: grey;
        font-size: 30px;
        vertical-align: middle;

        &:last-of-type {
            margin-left: 25px;
        }
    }
}

.dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
